body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px gray;
    width: 280px;
}

input{
    width: 100%;
    height: 60px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-right: 10px;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    height: 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #d0d0d0;
}

button:active{
    background-color: hsl(0, 0%, 92%);
    border: 1px solid darkgrey;
}

.equal{
    background-color: #4CAF50;
    color: white;
}
.equal:hover{
    background-color: #45a049;
}    

.equal:active{
    background-color: hsl(123, 40%, 70%);
    border: 1px solid darkgreen;
    color: black;
}    

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: hsl(39, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(39, 100%, 80%);
    border: 1px solid darkorange;
}